body{
    margin: 0px;
    padding: 0px;
}
.frame1{
    background-image: url("https://www.riotgames.com/darkroom/1440/1d4875763dad3b2324feb914900e0e41:82781546e92db9f6f86186f31733b482/riot-games-self-publish-league-legends-teamfight-tactics-southeast-asia.png");
    height: 100vh;
    width: 100%; 

}

#fromlogin{
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
.frmacc1{
    width: 400px;
    height: 50px;
    margin: 0 auto;

}
.frmacc2{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    margin-top: 85px;
    margin-right: 135px;
    color: red;
}
.Account{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    color: black;
}

h2{
    font-size: 50px;
    margin: 0 auto;
}

.plug{
    width: 410px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    color: white;
    background-color: red;
    margin-top: -10px;
    text-align: center;   
}

a{
    float: right;
    margin-left: 100px;
}

