@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}
.frame1{
    background-image: url("https://sso.garena.com/universal/assets/bg-light-mobile-2c1194ef.png");
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.logo img{
    width: 120px;
}

#container{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
}

#navbar{
    width: 100%;
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 500px;
    border-bottom: 1px solid rgb(219, 219, 219);
    
}

.location{
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.location img{
    width: 25px;
}

#fromlogin{
    background-color: white;
    width: 600px;
    height: 400px;
    margin: 0 auto;
}
.frmacc1{
    width: 68%;
    height: 50px;
    margin: 0 auto;

}
/* .frmacc2{
    width: 408px;
    height: 50px;
    margin: 0 auto;
    margin-top: 85px;
    margin-right: 135px;
    color: red;
} */
.frmacc2{
    width: 68%;
    height: 50px;
    margin: 0 auto;
    border: none;
    margin-top: 85px;
}
.Account{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    color: black;
    border: 1px solid rgb(204, 204, 204);
}

::placeholder{
    padding-left: 5px;
}

.Password{
    width: 400px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    color: black;
    border: 1px solid rgb(204, 204, 204);
}

h2{
    font-size: 50px;
    margin: 0 auto;
}

.plug{
    width: 410px;
    height: 50px;
    margin: 0 auto;
    font-size: 15px;
    color: white;
    background-color: red;
    margin-top: -10px;
    text-align: center;   
}

.frmacc2 a{
    float: right;
    /* margin-left: 200px; */
}

